[submodule "SFND_Lidar_Obstacle_Detection"]
	path = SFND_Lidar_Obstacle_Detection
	url = https://github.com/seekdestiny/SFND_Lidar_Obstacle_Detection.git
[submodule "open_cv_exercise"]
	path = open_cv_exercise
	url = https://github.com/seekdestiny/open_cv_exercise.git
