[submodule "SFND_Lidar_Obstacle_Detection"]
	path = SFND_Lidar_Obstacle_Detection
	url = https://github.com/seekdestiny/SFND_Lidar_Obstacle_Detection.git
[submodule "open_cv_exercise"]
	path = open_cv_exercise
	url = https://github.com/seekdestiny/open_cv_exercise.git
[submodule "TTC_lidar"]
	path = TTC_lidar
	url = https://github.com/seekdestiny/TTC_lidar.git
[submodule "TTC_camera"]
	path = TTC_camera
	url = https://github.com/seekdestiny/TTC_camera.git
[submodule "gradient_filtering"]
	path = gradient_filtering
	url = https://github.com/seekdestiny/gradient_filtering.git
[submodule "cornerness_harris"]
	path = cornerness_harris
	url = https://github.com/seekdestiny/cornerness_harris.git
